<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="ProxyServer" value="127.0.0.1:8888"/>-->
		<!--<add key="API_KEY" value="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"/>-->
		<add key="ProxyServer" value="5.180.50.101:1690"/>
		<add key="API_KEY" value="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"/>
	</appSettings>
</configuration>
